<div [ngClass]="bgColor()">
    {{car.name}}
  <button class="btn btn-success" [disabled]="car.isSold" (click)="action('bay')">Купить</button>
  <button class="btn btn" [disabled]="!car.isSold" (click)="(action('return'))"> Вернуть</button>
</div>
