<h2>Информация о машине {{id}}</h2>
<h3>{{name}}</h3>
<h3>{{year}}</h3>
<h3>{{color}}</h3>
<p>{{hag}}</p>
<hr>
<a (click)="openPageMazda()">Открыть мазду </a>
<!--<h2>Информация о машине {{car.id}}</h2>-->
<!--<h3>{{car.name}}</h3>-->
<!--<hr>-->
<!--<a [routerLink]="['/cars', 8, 'Mazda']">Открыть мазду </a>-->
