<a class="nav-link" [routerLink]="'/cars'">Обновить страницу машины</a>
<div class="row">
  <div class="col-xl-4">
<div class="list-group">
<div class="list-group-item" *ngFor="let car of cars | async;">
  <a [routerLink]="['/cars', car.id, car.name]"
  [queryParams]="{color: car.color, year:car.year}" fragment="pic">{{car.name}} </a>
<span [ngStyle]="{backgroundColor: car.color, color: 'white'}" class="badge  float-right">{{car.id}}</span>
</div>
</div>
  </div>
  <div class="col-xl-8">
    <router-outlet></router-outlet>
  </div>
</div>
