<!--<input type="text" class="form-control"  [(ngModel)] ="carName" />-->
<!--<input type="text" class="form-control"  [(ngModel)] ="carYear" />-->
<input type="text" class="form-control"  #carName />
<input type="text" class="form-control" #carYear/>
<button (click)="addCar(carName)"  class="btn btn-primary">Добавить машину</button>
