<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:center">-->
  <!--<app-pipe></app-pipe>-->
  <!--<h1 [appMyDirective]="'red'"  [defaultColor]="'white'">-->
    <!--Welcome to h1!-->
  <!--</h1>-->

  <!--<h2 [appMyDirective]="'blue'"  [defaultColor]="'white'">-->
    <!--Welcome to h2!-->
  <!--</h2>-->
  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" *ngFor="let item of items" (click)="onClick(item)">{{item}}</li>-->
  <!--</ul>-->

  <!--<div [ngSwitch]="current">-->
    <!--<p *ngSwitchCase="1">1</p>-->
    <!--<p *ngSwitchCase="2">2</p>-->
    <!--<p *ngSwitchCase="3">3</p>-->
    <!--<p *ngSwitchDefault>default</p>-->
  <!--</div>-->
<p 
  <!--&lt;!&ndash;<div class="app-cars"></div>&ndash;&gt;-->
  <!--<div app-cars></div>-->
  <!--<app-autos></app-autos>-->
<!--<router-outlet></router-outlet>-->
<!--<div class="container">-->
  <!--<div class="row" style="margin-top: 45px">-->
<!--<div class="col-xl-8 col-xl-offset-2">-->
  <!--<form (ngSubmit)="dataForm()" #form="ngForm">-->
    <!--<div ngModelGroup="user" #user="ngModelGroup">-->
    <!--<div class="form-group" >-->
      <!--<label>Email</label>-->
      <!--<input class="form-control" type="text" [ngClass]="{'is-invalid': !email.valid && email.touched}" ngModel name="email" required email #email="ngModel">-->
      <!--<p *ngIf="!email.valid && email.touched">Введите корректный email</p>-->
      <!--</div>-->
      <!--<button type="button" class="btn btn-primary" (click)="addEmail()">Добавить случайный email</button>-->
    <!--<div class="form-group">-->
      <!--<label>Пароль</label>-->
      <!--<input class="form-control" type="password" [ngClass]="{'is-invalid': !pass.valid && pass.touched}" ngModel name="pass" required #pass="ngModel">-->
      <!--<p *ngIf="!pass.valid && pass.touched">Введите пароль</p>-->
    <!--</div>-->
      <!--<p *ngIf="!user.valid && user.touched">Введены не все данные</p>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Выберите страну</label>-->
      <!--<select class="form-control" [ngModel] ="defaultCountry" name="country" required>-->
        <!--<option value="ru">Россия</option>-->
        <!--<option value="ua">Украина</option>-->
        <!--<option value="by">Беларусь</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="form-check" *ngFor="let radio of radios">-->
      <!--<input class="form-check-input" type="radio"  [ngModel]="defaultRadio" name="answers" [value]="radio.num" required>-->
        <!--<label class="form-check-label">-->
        <!--{{radio.name}}-->
      <!--</label>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<button class="btn btn-success" type="submit" [disabled]="!form.valid">Отправить</button>-->
  <!--</form>-->
<!--</div>-->
<!--</div>-->
  <!--<pre *ngIf="isSubmit">-->
    <!--{{formData | json}}-->
  <!--</pre>-->
  <!--</div>-->

<!--<div class="container">-->
  <!--<div class="row" style="margin-top: 45px">-->
    <!--<div class="col-xl-8 col-xl-offset-2">-->
      <!--<form (ngSubmit)="onSubmit()" [formGroup]="form">-->
        <!--<div formGroupName="user">-->
          <!--<div class="form-group" >-->
            <!--<label>Email</label>-->
            <!--<input class="form-control" type="text" [ngClass]="{'is-invalid': !form.get('user.email').valid && form.get('user.email').touched}" formControlName="email">-->
            <!--<p *ngIf="!form.get('user.email').valid && form.get('user.email').touched">-->
              <!--<span *ngIf="form.get('user.email').errors?.required">Введите Ваш email</span>-->
              <!--<span *ngIf="form.get('user.email').errors?.email">Введите корректный email</span>-->
            <!--<span *ngIf="form.get('user.email').errors?.isEmailUsed">Такой email существует</span></p>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label>Пароль</label>-->
            <!--<input class="form-control" type="password" [ngClass]="{'is-invalid': !form.get('user.pass').valid && form.get('user.pass').touched}" formControlName="pass">-->
            <!--<p *ngIf="!form.get('user.pass').valid && form.get('user.pass').touched">-->
              <!--<span *ngIf="form.get('user.pass').errors.required">Введите Ваш пароль! </span>-->
              <!--<span *ngIf="form.get('user.pass').errors.errorLength">Длина пароля от {{lengthPass}} символов и больше</span>-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label>Выберите страну</label>-->
          <!--<select class="form-control" formControlName="country">-->
            <!--<option value="ru">Россия</option>-->
            <!--<option value="ua">Украина</option>-->
            <!--<option value="by">Беларусь</option>-->
          <!--</select>-->
        <!--</div>-->
        <!--<div class="form-check" *ngFor="let radio of radios">-->
          <!--<input class="form-check-input" type="radio" [value]="radio.num"  name="answer" formControlName="answer">-->
          <!--<label class="form-check-label">-->
            <!--{{radio.name}}-->
          <!--</label>-->
        <!--</div>-->
        <!--<hr>-->
        <!--<button class="btn btn-success" type="submit">Отправить</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <!--<pre *ngIf="isSubmit">-->
    <!--{{formData | json}}-->
  <!--</pre>-->
<!--</div>-->

<!--<div class="container">-->
<!--<div class="row" style="margin-top: 45px">-->
<!--<div class="col-xl-8 col-xl-offset-2">-->
<!--<h2>{{titleApp | async}}</h2>-->
  <!--<form (ngSubmit)="onSubmit()" [formGroup]="form">-->
    <!--<div formGroupName="cars">-->
    <!--<div class="form-group" >-->
    <!--<label>Название автомобиля</label>-->
    <!--<input class="form-control" type="text" [ngClass]="{'is-invalid': !form.get('cars.name').valid && form.get('cars.name').touched}" formControlName="name">-->
    <!--<p *ngIf="!form.get('cars.name').valid && form.get('cars.name').touched">-->
    <!--<span *ngIf="form.get('cars.name').errors?.required">Введите название автомобиля</span></p>-->
    <!--</div>-->

      <!--<div class="form-group" >-->
        <!--<label>Цвет автомобиля</label>-->
        <!--<input class="form-control" type="text" [ngClass]="{'is-invalid': !form.get('cars.color').valid && form.get('cars.color').touched}" formControlName="color">-->
        <!--<p *ngIf="!form.get('cars.color').valid && form.get('cars.color').touched">-->
          <!--<span *ngIf="form.get('cars.color').errors?.required">Введите цвет автомобиля</span></p>-->
      <!--</div>-->
      <!--<div class="form-group" >-->
        <!--<label>Год выпуска</label>-->
        <!--<input class="form-control" type="text" [ngClass]="{'is-invalid': !form.get('cars.year').valid && form.get('cars.year').touched}" formControlName="year">-->
        <!--<p *ngIf="!form.get('cars.year').valid && form.get('cars.year').touched">-->
          <!--<span *ngIf="form.get('cars.year').errors?.required">Введите год выпуска автомобиля</span></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button class="btn btn-success" type="submit">Отправить</button> <button class="btn btn-primary" type="button" (click)="loader()" >Загрузить данные</button>-->
  <!--</form>-->
  <!--<hr>-->
  <!--<div class="list-group">-->
    <!--<div class="list-group-item" *ngFor="let car of cars | async;">{{car.name}} ({{car.color}}; {{car.year}})-->
      <!--<button class="btn btn-sm btn-primary" type="button" (click)="updateColor(car)" >Изменить</button>-->
      <!--<button class="btn btn-sm btn-danger " type="button" (click)="deleteCar(car)" >Удалить</button>-->
       <!--<span [ngStyle]="{backgroundColor: car.color, color: 'white'}" class="badge  float-right">{{car.id}}</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row" style="margin-top: 45px">
  <div class="col-xl-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Машины</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </div>
  <div class="row" style="margin-top: 45px">
    <div class="col-xl-12">
      <app-home-page></app-home-page>
      <app-cars-page></app-cars-page>
    </div>
  </div>
</div>
