<input type="text" class="form-control" [(ngModel)] ="inputText">
<button class="btn btn-success" (click)="addCar()">Добавить</button>
<div class="list-group">
     <app-auto *ngFor="let car of cars" [carItem]="car"></app-auto>
   </div>
