<p>Форма добавления</p>

<app-add-car (onAddCar)="updateCar($event)"></app-add-car>

<button class="btn btn-success" (click)="updateBar()">Изменить автомобиль</button>
<button class="btn btn-danger" (click)="deleteCar()">Изменить автомобиль</button>
<!--<p *ngIf="!carStatus; else success">Машина не добавлена</p>-->
<!--<p *ngIf="carStatus">Машина добавлена</p>-->
<!--<ng-template #success>-->
  <!--<p>Машина добавлена</p>-->
<!--</ng-template>-->
<!--<p>{{carStatus}}</p>-->
<!--<hr>-->
<div class="list-group">
<app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car" [name] = "car.name"
>
  <h3 #carHeadihg> Название : {{ car.name}}
  </h3>
  <p>год {{ car.year}}</p>

</app-car>
</div>
<!--<ul>-->
  <!--<li *ngFor="let car of cars; let idx = index">-->
    <!--<div [ngStyle]="{backgroundColor: (idx+1) %2 ===0 ? 'red' : 'green', color: 'white'}"-->
      <!--[ngClass]="{'big-text': bigText(car)}"-->
    <!--&gt;<b>{{idx+1}}</b>. <i>{{car}}</i></div>-->
  <!--</li>-->
<!--</ul>-->

<!--<hr>-->
<!--<input type="text" class="form-control"  (keyup.enter)="inputValue($event)" />-->
<!--<input type="text" class="form-control"  [(ngModel)] ="iV" />-->
<!--<p>{{iV}}</p>-->
